<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <div class="wrapper">

        <header id="header">
            <div class="logo">
                <img src="img/Risorsa 1.png" alt="">
            </div>
            <nav class="mainMenu">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Chi siamo</a></li>
                    <li><a href="">Offerte</a></li>
                    <li><a href="">Last Minute</a></li>
                    <li><a href="">Contatti</a></li>
                </ul>
            </nav>
        </header>

        <div id="hero">
            <img src="http://source.unsplash.com/1920x1080/?sushi" alt="">
        </div>

        <div id="intro">
            <div class="introImg">
                <img src="http://source.unsplash.com/1920x1080/?sashimi" alt="">
            </div>

            <div class="introText">
                <h2>Lorem impsum dolor est.</h2>
                <p>nel megggo idfjoij ehusfh jh0 aeht e h0s nefu shnjen is iofosi erse os eo  shieos hs fse hn fsh aoih huf asuif gugais dyg as dguiasg duia gsudasg d uyias dg uyiasdga gsid iasd gis eofuihosi f sheofh s heoi sef hois eoie sf io hseoi foise  h soie oi sfoieh ofiios eh fhesoih foise fssoie fhosih</p>
            </div>
        </div>

        <div id="gallery">
            <div class="galleryWrapper">
                <div class="galleryItem"><img src="http://source.unsplash.com/600x600/?tokyo" alt="immagine qui"></div>
                <div class="galleryItem"><img src="http://source.unsplash.com/600x600/?japan" alt="immagine qui"></div>
                <div class="galleryItem"><img src="http://source.unsplash.com/600x600/?cartoon" alt="immagine qui"></div>
                <div class="galleryItem"><img src="http://source.unsplash.com/600x600/?cosplay" alt="immagine qui"></div>
                <div class="galleryItem"><img src="http://source.unsplash.com/600x600/?kyoto" alt="immagine qui"></div>
                <div class="galleryItem"><img src="http://source.unsplash.com/600x600/?hokkaido" alt="immagine qui"></div>
                <div class="galleryItem"><img src="http://source.unsplash.com/600x600/?sapporo" alt="immagine qui"></div>
                <div class="galleryItem"><img src="http://source.unsplash.com/600x600/?akihabara" alt="immagine qui"></div>
            </div>
        </div>

        <footer id="mainFooter">
            Lorem ipsum dolor est.
        </footer>

    </div>


</body>
</html>